%li
  = link_to ingredient_with_effects.name, ingredient_path(ingredient_with_effects), title: tooltip(ingredient_with_effects), class: 'tooltip'
  - if ingredient_with_effects.dlc.present?
    %span= ingredient_with_effects.dlc.name
  (#{effect_list(ingredient_with_effects)})
