%h1 #{@effect.name} Skyrim Potion Effect
= link_to 'View on UESP', @effect.uesp_link
%h2 Ingredients:
%ul
  - @effect.ingredients.each do |ingredient|
    %li= link_to ingredient.name, ingredient_path(ingredient)