#top
#main
  %h1
    #{@effect.name} #{uesp_link(@effect)}
  %h2 Ingredients:
  %p
    %i All ingredients for #{@effect.name}:
  %ul.ingredient-list.no-columns
    - @effect.ingredients.each do |ingredient|
      %li= link_to ingredient.name, ingredient_path(ingredient), title: tooltip(ingredient), class: 'tooltip'
