---
title: Skyrim Alchemy Potion Ingredients
---

%ul.ingredient-list
  - data.ingredients.each do |ingredient|
    %li
      %a.tooltip{ href: "/ingredients/#{ingredient.slug}", title: ingredient_tooltip(ingredient), class: ingredient.dlc.present? ? "dlc icon-#{ingredient.dlc.downcase}" : nil }
        = ingredient.name

