%p
  %strong.highlight Now updated with Dawnguard & Hearthfire ingredients!
%p SkyrimAlchemy.com is the best source for finding out which ingredients match with other ingredients in ElderScrolls V: Skyrim.
%p In addition to ingredient matchers, you can also see where all ingredients can be found.
%p Questions? Comments? Feedback? Please send us an email: #{mail_to 'mudcrabs@skyrimalchemy.com'}.
